<%- include('../includes/head.ejs') %>
  </head>
  <body class="bg-gray-50 dark:bg-slate-900">
    <%- include('../includes/header.ejs') %>
    <!-- ========== MAIN CONTENT ========== -->
   <%- include('../includes/sidebar.ejs') %>
  
    <!-- Content -->
    <div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:ps-72">
      <!-- Page Heading -->
      <header>
        <%- include('../includes/stats.ejs') %>
      </header>
      <!-- End Page Heading -->
      
      
    </div>
    <!-- End Content -->
    <!-- ========== END MAIN CONTENT ========== -->
    
  </body>
  
<%- include('../includes/end.ejs') %>